.name{
    font-size: 4rem;
    margin: 0.5rem;
    padding: 0.7rem;
}

.mat-card{
    margin: 3rem;
}

.top{
    display: flex;
    background: #fff; 
}

.img{
    margin-left: 0.5rem;
    padding: 0.7rem;
    height: 400px;
    width: 400px;
}

.content{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 4.5rem;
    margin-left: 3rem;
    padding: 0.7rem;
}

.decs{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem;
    margin-left: 3rem;
    padding: 0.7rem;
}

.c-0{
    width: 8rem;
}

.c-1{
    color: red;
    margin-left: 2rem;
}

.btn{
    margin: 1rem;
    margin-left: 5rem;
    font-weight: 300;
}