<mat-form-field>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of _items" [selectable]="_isSelectable" [removable]="_isRemovable"
            (removed)="remove(item)">
            {{item.name}}
            <mat-icon matChipRemove *ngIf="_isRemovable">cancel</mat-icon>
        </mat-chip>
        <input [placeholder]="_placeholder" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="_separators"
            [matChipInputAddOnBlur]="_doAddOnBlur" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
</mat-form-field>