<div class="container">
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title>Panel Administratora</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-divider inset=true></mat-divider>
            <p class="header">Dodaj produkt</p>
            <div class="form" [formGroup]="form">
                <div class="form-label">
                    <div>Nazwa:</div>
                </div>
                <mat-form-field>
                    <mat-label>Wpisz nazwę gry</mat-label>
                    <input formControlName="name" matInput />
                </mat-form-field>

                <div class="form-label">
                    <div>Opis:</div>
                </div>
                <mat-form-field>
                    <mat-label>Krótki opis gry</mat-label>
                    <textarea formControlName="description" style="height: 200px; resize: none;" matInput></textarea>
                </mat-form-field>

                <div class="form-label">
                    <div>Okładka:</div>
                </div>
                <mat-form-field>
                    <mat-label>Link do okładki</mat-label>
                    <input formControlName="imgUrl" matInput />
                </mat-form-field>

                <div class="form-label">
                    <div>Platforma:</div>
                </div>
                <mat-form-field style="width: 80%">
                    <mat-label>Wybierz platformę dla gry</mat-label>
                    <input formControlName="platform" matInput />
                </mat-form-field>

                <div class="form-label">
                    <div>Cena:</div>
                </div>
                <mat-form-field style="width: 70%">
                    <mat-label>Cena gry dla platformy</mat-label>
                    <input type="number" formControlName="price" matInput />
                </mat-form-field>

                <div class="form-label">
                    <div>Kategoria:</div>
                </div>
                <mat-form-field>
                    <mat-label>Wybierz kategorię</mat-label>
                    <!-- <input formControlName="category" matInput /> -->
                    <!-- <app-chip-autocomplete></app-chip-autocomplete> -->
                </mat-form-field>

                <div></div>
                <div>
                    <button (click)="addProduct()" mat-fab style="margin-top: 24px; float: right;">
                        <mat-icon style="color: white;">add</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>