.main-card {
    width: 860px;
    margin: 0 auto;
}

@media (max-width: 950px) {
    .main-card {
        width: 90%;
    }
}

.header {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgba(0,0,0,0.85);
    margin-bottom: 12px;
}

.form {
    display: grid;
    grid-template-columns: 64px 0.4fr;
    column-gap: 18px;
    grid-auto-rows: auto;
}
.form-label {
    color: rgba(0,0,0,0.75);
    text-align: right;
    font-size: 15px;
    *{
        position: relative;
        bottom: -41%;
    }
}
.form-input {

}