<div>
    <div *ngFor="let product of products" class="head">
        <div class="one">
            <div class="name">{{product.game.name}}</div>
            <img src="{{product.game.imgUrl}}" class="img">
        </div>
        <div class="two">
            <span>
                {{product.platform.price}} PLN
            </span>
            <p>
                Gra na konsolę {{product.platform.name}}
            </p>
            <p>ILOŚĆ: {{product.ammount}}</p>
                
        </div>
        <div class="three">
            <span>
                <button mat-raised-button class="btn" color="primary" (click)="removeFromCart(product.platform_id)">USUŃ Z
                    KOSZYKA</button>
            </span>
        </div>
    </div>
    
    <div class="wrap">
        
        <div class="price">
            Drogi Kliencie! Za zakupy w naszym sklepie płacisz: <span class="sum">{{sum}} PLN</span>
            <p>Aby zapłacić podaj email</p>
        </div>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="form">
            <div>
            <input id="email" type="email" formControlName="email" placeholder="abc@example.example">
        </div>
              <div>
            <button [disabled]="!checkoutForm.valid" class="button" type="submit">ZAPŁAĆ</button>
        </div>
          
          </form>
         
    </div>
    
</div>

