<mat-toolbar color="primary" class="main-toolbar">
  <mat-toolbar-row class="top-row mat-elevation-z3">
    <span class="shop-name" routerLink="">Bick Dejta</span>
    <span class="spacer"></span>
    <span class="cart" routerLink="/cart">
      <mat-icon class="icon-32">shopping_cart</mat-icon>
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row class="bottom-row">
    <div routerLink="/main" routerLinkActive="active" matRipple class="bottom-row-item"><span>Strona główna</span></div>
    <div routerLink="/games/pc" routerLinkActive="active" matRipple class="bottom-row-item"><span>pc</span></div>
    <div routerLink="/games/consoles/" routerLinkActive="active" matRipple class="bottom-row-item"><span>konsole</span>
    </div>
    <!-- <div routerLink="/offers" routerLinkActive="active" matRipple class="bottom-row-item"><span>oferty
        specjalne</span></div> -->
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-container">
  <router-outlet></router-outlet>
</div>