@import "shared/scss/colors.scss";

$bottom-row-height: 48px;

.shop-name {
    letter-spacing: 2.69px;
    font-size: 24px;
    pointer-events: none;
}
.top-row {
    display: grid;
}


.bottom-row {
    display: grid;
    grid-auto-flow: column;
    padding: 0 128px;
    height: $bottom-row-height;
}
.bottom-row-item {
    text-transform: uppercase;
    text-align: center;
    height: $bottom-row-height;
    line-height: $bottom-row-height;
    font-size: 18px;
    letter-spacing: 1.19px;
}
.active {
    box-shadow: inset 0 -4px 0 $pink;
}

.main-toolbar {
    position: fixed;
    top: 0px;
}