<mat-toolbar color="primary" class="main-toolbar">
  <mat-toolbar-row class="top-row mat-elevation-z3">
    <span class="shop-name">Bick Dejta</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="bottom-row">
    <div class="bottom-row-item active">Strona główna</div>
    <div class="bottom-row-item">Książki</div>
    <div class="bottom-row-item">Klucze do gier</div>
    <div class="bottom-row-item">Grafika</div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-container">
  <router-outlet></router-outlet>
</div>