<mat-toolbar color="primary" class="main-toolbar">
  <mat-toolbar-row class="top-row mat-elevation-z3">
    <span class="shop-name">Bick Dejta</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="bottom-row">
    <div matRipple class="bottom-row-item active"><span>Strona główna</span></div>
    <div matRipple class="bottom-row-item"><span>Książki</span></div>
    <div matRipple class="bottom-row-item"><span>Klucze do gier</span></div>
    <div matRipple class="bottom-row-item"><span>Grafika</span></div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-container">
  <router-outlet></router-outlet>
</div>