/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background: #f6f6f6;
}

.mat-card-title {
    font-size: 32px !important;
}

input, textarea {
    background: rgba(0,0,0,0.015) !important;
}


